
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
}
.hero{
    width: 75%;
}

.hero-container h1 {
    margin-top: 50px;
    text-align: center;
    font-size:larger;
    color: white;
    font-weight: 600;

}
.hero-container p{
    color: rgb(150,150,150);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 400;

}
.hero-container img{
    width: 100%;
    margin-top: 50px;
    object-fit: cover;
    object-position: center;
}