*{
    padding: 0;
    margin: 0;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:black;
    height:100px;
}
.navbar-logo img{
    height: 50px;
}
.navbar-links{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.navbar-links a,.navbar-links button{
    text-decoration: none;
    color:rgb(150, 150, 150);
    /* font-weight: bold; */

}
.navbar-links button{
    background-color:black;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.navbar-links a:hover,.navbar-links button:hover{
    color: white;
}
.navbar-buttons .signup-btn {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    background: linear-gradient(270deg,black,black, rgb(78, 78, 78),rgb(78, 78, 78),black,black);
    background-size: 500% 500%;
    animation: gradientFlow 6s infinite linear;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

/* Keyframes for smooth, river-like gradient flow */
@keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}



.navbar-buttons button{
    border-radius: 5px;
    color: white;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 10px;
    border:1px solid white;
}
.navbar-buttons button:hover{
    color: white;
}